/* Universal Styles */
body{
    font-family: 'Noto Serif', serif;
}

.largescreens{
    display:none;
}

/* Media Queries */
@media screen and (min-width: 768px){

    .mobile{
        display:none;
    }

    .largescreens{
        display: flex;
    }


}