/* Universal Styles */
body{
    font-family: 'Noto Serif', serif;

}

h2{
    text-transform: uppercase;
    background-color: coral;
    color: #fff;
    text-align: center;
    margin: 0;
    padding-top: 2em;
    padding-bottom: 1em;
}

h1,
p,
footer{
    text-align: center;
}

h1,
p{
    background-color: #5e5c5c;
    color: #fff;
    margin: 0;
}

h1{
    padding-top: 1em;
}

p{
    padding: 1.5em;
    
}

fieldset{
    border: none;
    padding: 2em;
    margin: 5%;
}

hr{
    margin-bottom: 1em
    
}

footer{
    padding: 1em;
    font-size: 125%;
}

legend{
    font-size: 150%;
}



#signup{
    font-size: 200%;
    background: #35e953;
    padding: .5em 3em;
    border: none;
    color: #fff;
    text-align: center;
    display: block;
    
}


input:focus { 
    background-color: #e7e7e7;
    outline: none !important;
  }

textarea:focus { 
    background-color:#e7e7e7 ;
    outline: none !important;
}

.largescreens{
    display:none;
}

/* Media Queries */
@media screen and (min-width: 768px){

    .mobile{
        display:none;
    }

    .largescreens{
        display: flex;
        flex-direction: column;
        
    }

    fieldset{
        display: flex;
        text-align: left;
    }

    legend{
        text-align: left;
    }



}