Universal Styles
*{
    box-sizing: border-box;
}

  body{ 
    font-family: 'Noto Serif', serif;
    padding-left: 5%;
    padding-right: 5%
}


h2{
    text-transform: uppercase;
    background-color: coral;
    color: #fff;
    text-align: center;
    margin: 0;
    padding-top: 2em;
    padding-bottom: 1em;
}

h1,
p,
footer{
    text-align: center;
}


h1{
    padding-top: 1em;
}

p{
    padding: .5em;
    
}

hr{
    border-style: ridge;
}

fieldset{
    border: none;
    padding-top: .75em;
    padding-bottom: .75em;
    padding-left: 0;
    padding-right: 0;
    margin:0;
}

input
    {
    border-radius: 5px;
    padding: 10px 10px 10px 90px;
    background-color: #f1f1f1;
    
}

#zipcode{
    padding: 10px 10px 10px 20px;
    width: 100px;
}

select{
    width:294px;
}

.mobile{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
    
}

.mobile input{
    display: block;
    text-align: right;
    width: auto;
    margin-top: 1em;

}


hr{
    margin-bottom: 1em
    
}

footer{
    padding: 1em;
}

legend{
    font-size: 120%;
    padding-left: 1em;

}

label{
    color: #474646;
    padding-left: 0;
}

.info{
    padding-left: 5%;
}


#signup{
    font-size: 150%;
    background: #5e5c5c;
    padding: .5em 3em;
    border: none;
    color: #fff;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

#signup:hover{
    background: coral;
}


input:focus { 
    background-color: #e7e7e7;
  }



  textarea:focus { 
    background-color:#e7e7e7 ;
    outline: none !important;
}

input[type=checkbox]{
    display: inline;
    margin-left: 0;
    margin-top: 1em;
}

input[type=radio]{
    display: inline;
    margin-left: 0;
    margin-top: 1em;
}

.largescreens{
    display:none;
}

.newsletter,
.format {
    padding-bottom: 2em;
    padding-left: 1em;
} 



/* Media Queries */
  @media screen and (min-width: 768px){

    
    .mobile{
        display:none;

    }


    .largescreens{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; 
        
    }

    label,
    input{

        margin-right: auto;
    }

    div{
        display:flex;
        align-content: space-between;
    }


    input{
        text-align: right;
        margin-top: 0;
    }



    #zipcode{
        padding: 10px 10px 10px 20px;
        width: 100px;
        margin-right: 39%;
    }


    legend{
        text-align: left;
    }

    label{
        padding-left: 0;
    }


    .newsletter{
        margin:8px;
        padding-bottom: 0;
    }

    .format{
        padding-left:0;
    }
    #signup{
        font-size: 200%;
        background: #5e5c5c;
        padding: .5em 3em;
        border: none;
        color: #fff;
        text-align: center;
        display: block;
        margin:auto;
        width: 100%;
        
    }

    .textArea{
        display: block;
    }


}